@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #0F172A;
  --color-accent: #4F46E5; /* Indigo 600 */
  --color-success: #10B981; /* Emerald 500 */
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0; /* Slate 200 */
  --color-muted: #F8FAFC; /* Slate 50 */
}

@layer base {
  body {
    @apply bg-muted text-brand antialiased;
  }
}

